# 1. Ignore all files at the root level
/*

# 2. Re-include all directories so Git can search inside subfolders
!*/

# 3. Ignore all files inside all subdirectories
*/**

# 4. Re-include subdirectories
!**/*/

# 5. Re-include Python and JSON files
!*.py
!*.json
!.gitignore
!*.qml
!*.ico

# 6. EXPLICITLY IGNORE virtual environments and build caches
venv/
.venv/
ENV/
env/
__pycache__/
*.pyc
!*.md